# vscode
.vscode/
__pycache__/
.py[cod]

/asset/
/bin/debug*
/local/
/tests/data/gmvn/gmvn.pt
*.log

exp/
log/
checkpoint/
cache/
build/

# examples
/example/*/*/data

# pytest
.pytest_cache/

# MAC
.DS_Store
