# vscode
.vscode/
__pycache__/
.py[cod]

/asset/
/bin/debug*
/local/
*.log
*.nbest
*.decode

/exp/
/log/
/checkpoint/
/cache/
/build/
/tests/*.jpg

# examples
/examples/*/*/data
/examples/*/*/exp

# pytest
.pytest_cache/

# MAC
.DS_Store

# TODO: remove it
*.pt.tar
