h5py==2.10.0
librosa==0.8.0
tqdm==4.50.2
pytest==6.1.1
kaldi_python_io==1.2.0
sentencepiece==0.1.91
torch==1.10.0
museval==0.3.1
pypesq==1.2.4
matplotlib==3.3.1
edit_distance==1.0.4
SoundFile==0.10.2
scipy==1.5.2
pystoi==0.3.3
numpy==1.21.0
PyYAML==5.4.1
pre-commit==2.7.1
yapf==0.30.0
flake8==3.8.4
tensorboard==2.3.0
cpplint==1.5.5
torchaudio==0.10
