scipy==1.5.2
kaldi_python_io==1.2.0
torch==1.6.0
torch_complex==0.2.0
horovod==0.20.3
museval==0.3.1
pystoi==0.3.3
SoundFile==0.10.2
tqdm==4.50.2
pytest==6.1.1
matplotlib==3.3.1
librosa==0.8.0
pypesq==1.2.4
editdistance==0.5.3
kenlm==0.0.0
numpy==1.19.4
PyYAML==5.3.1
warp_rnnt==0.4.0
pre-commit==2.7.1
yapf==0.30.0
flake8==3.8.4
tensorboard==2.3.0
sentencepiece==0.1.91
