librosa==0.8.0
SoundFile==0.10.2
sentencepiece==0.1.91
scipy==1.5.2
requests==2.22.0
kaldi_python_io==1.2.0
edit_distance==1.0.4
matplotlib==3.3.1
pystoi==0.3.3
pytest==6.1.1
pypesq==1.2.4
museval==0.3.1
torch==1.7.0
tqdm==4.50.2
numpy==1.20.1
PyYAML==5.4.1
pre-commit==2.7.1
yapf==0.30.0
flake8==3.8.4
tensorboard==2.3.0
