name: Lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  script_check:
    name: Script Check
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Shell check
        run: |
          sudo apt-get install -y shellcheck
          shellcheck -e SC2086,SC2002 -x tests/*.sh utils/subword.sh scripts/*.sh
          shellcheck -e SC2086,SC2001,SC2002 -x examples/*/*/run.sh

      - name: Python check
        run: |
          pip install flake8 && flake8 --version && flake8
